language: php

php:
  - 5.5
  - 5.6

env:
  matrix:
    - TYPO3_VERSION="^6.2.0"
    - TYPO3_VERSION="7.4.0"
    - TYPO3_VERSION="^7.0"

sudo: false

notifications:
  email:
    recipients:
      - info@creativeworkspace.de
    on_success: always
    on_failure: always

addons:
  apt:
    packages:
      - parallel

cache:
  directories:
    - $HOME/.composer/cache

before_install:
  - composer self-update

before_script:
  - composer require typo3/cms="$TYPO3_VERSION"
  # Restore composer.json
  - git checkout composer.json
  - export TYPO3_PATH_WEB=$PWD/.Build/Web

after_script:
  - .Build/bin/test-reporter

script:
  - >
    echo;
    echo "Running php lint";
    find . -name \*.php ! -path "./.Build/*" | parallel --gnu php -d display_errors=stderr -l {} > /dev/null \;

  - >
    cd $TYPO3_PATH_WEB;
    echo;
    export typo3DatabaseName="typo3";
    export typo3DatabaseHost="localhost";
    export typo3DatabaseUsername="root";
    export typo3DatabasePassword="";
    find 'Tests/Functional' -wholename '*Test.php' | parallel --gnu 'echo; echo "Running functional test suite {}"; .Build/bin/phpunit --colors  -c .Build/vendor/typo3/cms/typo3/sysext/core/Build/FunctionalTests.xml {}'
